/* HERO */
.hero {
  background: linear-gradient(#ffffff, #d7e7b6);
  color: #fff;
  padding: 50px 0 0 0;
  color: #1e1e1e;
  height: 100%;
}

/* UPS */
.feature-card img {
  max-width: 100px;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  background-color: #45634c;
  color: #fff;
  padding: 30px 0;
}

footer a {
  color: #fff;
}

.social-icons i {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #d7e7b6;
}

/* NAV */
nav {
  background-color: #ffffff;
  z-index: 2000;
}

a.nav-link:hover {
  color: #d67e4a;
}

a:focus,
button:focus {
  outline: 2px solid #d67e4a; /* High-contrast focus style */
}

/* BTNS */
.btn-primary {
  background-color: #45634c;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #344b39;
  color: white;
  border: none;
}

.btn-default {
  border-radius: 5px;
  border: 1px solid lightgray;
}

.btn-default:hover {
  border-radius: 5px;
  border: 1px solid lightgray;
}

.dropdown-toggle {
  text-align: start;
}

#closeButton,
#closeButtonNews {
  border-radius: 5px;
  border: none;
  background-color: #38503d;
  color: #fff;
}

/* TESTIMONIALS */
.testimonials {
  background: linear-gradient(#d7e7b6, white);
}

.second-row {
  background: linear-gradient(white, #d7e7b6);
}

.testimonials p {
  margin-bottom: 30px;
}

.testimonials .feature-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

/* FAQS */
.accordion-button {
  border-bottom: 2px solid #f09663;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff !important;
  color: #1e1e1e;
}

.accordion-button:not(.collapsed):hover,
.accordion-button:not(.collapsed):focus {
  background-color: #ffffff !important;
  color: #1e1e1e;
}

.faq p {
  margin-bottom: 30px;
}

/* CONTACTS */
.contacts p {
  margin-bottom: 30px;
}

/* NEWSLETTER */
.newsletter {
  background-color: #d7e7b6;
}

/* PAGE */
html {
  scroll-behavior: smooth;
}

.uptop {
  border-radius: 5px;
  background-color: #d67e4a;
  color: #fff;
  font-size: large;
  padding: 5px 10px;
  text-decoration: none;
}

.uptop:hover {
  border-radius: 5px;
  background-color: #b8693b;
  color: #fff;
  font-size: large;
  padding: 5px 10px;
}

html,
body {
  overflow: visible;
}

h2 {
  font-size: 40px;
}

h1 {
  font-weight: bold;
  font-size: 56px;
}

/* SUCCESS MESSAGE DIVS */
.sucessmessage {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 12px 20px;
  border: 2px solid #45634c;
  background-color: #d7e7b6;
  margin-bottom: 16px;
}

.sucessmessageNews {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 5px;
  padding: 12px 20px;
  border: 2px solid #45634c;
  background-color: #ffffff;
  margin-top: 16px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#45634c, #d7e7b6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38503d;
}
